@charset "UTF-8";

/*ブログ*/
.blog-section{
    max-width:1200px;
    margin:0 auto;
}

.blog-section h2{
    margin-bottom:40px;
}
/* ブログリスト */
.blog-list{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.blog-card{
    background:#fff;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.blog-card time{
    display:block;
    margin-bottom:10px;
    color:#777;
}

.blog-card h3{
    margin-bottom:15px;
}

.blog-card a{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    border-radius:999px;
    background:linear-gradient(
        135deg,
        #b5c7ff,
        #cdb8ff
    );
}
/* ページネーション */
.pagination{
    display:flex;
    justify-content:center;
    gap:12px;
    margin-top:50px;
}

.pagination a{
    width:45px;
    height:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    border:1px solid #d9dcff;
    background:#fff;
    transition:.3s;
}

.pagination a:hover{
    background:#eef0ff;
}
/* ブログ内容 */
.blog-article{
    max-width:900px;
    margin:60px auto 0;
    background:#fff;
    padding:40px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.date{
    margin-bottom:30px;
    color:#777;
}

@media screen and (max-width:767px){

    .blog-section h2{
        margin-bottom:30px;
    }

    .blog-list{
        gap:20px;
    }

    .blog-card{
        padding:20px;
    }

    .blog-card time{
        font-size:0.9rem;
    }

    .blog-card h3{
        font-size:1.1rem;
        margin-bottom:10px;
    }

    .blog-card p{
        font-size:0.95rem;
    }

    .blog-card a{
        width:100%;
        text-align:center;
    }

        .blog-article{
        padding:25px;
    }

    .blog-article h2{
        font-size:1.5rem;
        margin-bottom:20px;
        line-height:1.4;
    }

    .date{
        margin-bottom:20px;
        font-size:0.9rem;
    }

    .blog-article p{
        font-size:0.95rem;
        line-height:1.8;
    }

}