@charset "UTF-8";

/* お問い合わせ */
.contact-section{
    max-width:800px;
    margin:0 auto;
}

.contact-section h2{
    margin-bottom:40px;
}

.google-form{
    overflow:hidden;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.google-form iframe{
    width:100%;
    height:1600px;
    border:none;
}

/* レスポンシブ */
@media screen and (max-width:767px){

    .contact-form{
        padding:25px;
    }

}